button {
    background-color: plum;
    border-radius: 4px;
    border: 1px solid black;
}


footer {
    margin-top: 12%;
    background-color: plum;
    text-align: center;
}

.input-box :is(input, textarea) {
    border-radius: 4px;
    border: 1px solid #aaa;
}

.input-box :is(input, textarea):focus {
    outline: none;
    border: 1px solid plum;
    border-radius: 4px;
}