button {
    background-color: plum;
    border-radius: 4px;
    border: 1px solid black;
}

footer {
    position: relative;
    z-index: 2;
    margin-top: 24px;
    background-color: plum;
    text-align: center;
}

.input-box :is(input, textarea) {
    border-radius: 4px;
    border: 1px solid #aaa;
}

.input-box :is(input, textarea):focus {
    outline: none;
    border: 1px solid plum;
    border-radius: 4px;
}

.input-box input.input-error {
    border: 1px solid red;
}