body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    position: relative;
    z-index: 2;
    background-color: plum;
    text-align: center;
}

.layout {
    flex: 1;
    width: 100%;
}

button {
    background-color: plum;
    border-radius: 4px;
    border: 1px solid black;
}

.input-box :is(input, textarea) {
    border-radius: 4px;
    border: 1px solid #aaa;
}

.input-box :is(input, textarea):focus {
    outline: none;
    border: 1px solid plum;
    border-radius: 4px;
}

.input-box input.input-error {
    border: 1px solid red;
}