.post-area {
    width: 60%;
    margin: 0 auto;
}

.post-area h1 {
    text-align: center;
}

.posts {
    margin-top: 12px;
    text-align: left;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.del-button {
    display: flex;
    justify-content: flex-end;

}

.post-stack {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 8px;
    gap: 4px;
}

.post-stack input,
.post-stack textarea {
    width: 100%;
}

input:focus {
    outline: none;
    border: 2px solid plum;
    border-radius: 4px;
}

.input-box :is(input, textarea):focus {
    outline: none;
    border: 2px solid plum;
    border-radius: 4px;
}


.post-stack button {
    width: auto;
    align-self: flex-start;
}