<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple BBS Home</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/home.css">
    <script src="/static/script.js" defer></script>
</head>

<body>

    <div class="layout">

        <!-- メイン -->
        <div class="post-area">
            <h1>シンプルな掲示板</h1>

            <!-- ここに投稿を表示する-->

            <div class="posts">
                <div class="post">
                    {{range .posts}}
                    {{.ID}}: {{.Name}} {{.CreatedAtDisplay}}<br>
                    {{ .Body}}

                    <!-- 自分の投稿だけ削除ボタンを表示-->
                    <!-- ログインしてる && idが等しい-->
                    {{ if ne $.user_id 0 }}
                    {{ if eq .UserID $.user_id }}
                    <form class="del-button" action="/delete/{{.ID}}" method="POST"
                        onsubmit="return confirm('本当に削除しますか？')">
                        <button type="submit">削除</button>
                    </form>
                    {{end}}
                    {{ end }}
                    <hr style="width:100%;" size="1" noshade>
                    {{end}}
                </div>
            </div>

            <form class="post-stack" action="/home" onsubmit="return check(this.body.value)" method="POST">
                <div class="input-box">
                    <input type="text" name="name" value="{{.username}}" placeholder="名前">
                </div>

                <div class="input-box">
                    <textarea name="body" rows="5" placeholder="コメント内容"></textarea>
                </div>
                <button type="submit">書き込む</button>

            </form>
        </div>

        <!-- サイドバー -->
        <div class="side-area">
            <!-- ログインしている -->
            {{if .username}}
            <p>ログイン中: {{.username}}</p>

            <!-- 確認を挟む-->
            <a href="logout" onclick="return confirm('本当にログアウトしますか？')">ログアウト</a>
            {{else}}
            <!-- ログインしていない-->
            <div>
                <a href="/login"> ログイン </a>
            </div>
            {{end}}
            <a href="/register">アカウント登録</a>
        </div>

    </div>

    <footer>
        <p>🐹2026:シンプル掲示板🐹</p>
    </footer>

</body>

</html>