<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple BBS</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>シンプルな掲示板</h1>

    <!-- ここに投稿を表示する-->
    {{range .posts}}
    {{.ID}}: {{.Name}} {{.CreatedAtDisplay}}<br>
    {{ .Body}}<br>
    <hr>
    {{end}}

    <form class="form-stack" action="/" method="POST">
        <input type="text" name="name" placeholder="名前（省略可）">
        <div class="body_form">
            <textarea name="body" rows="5" placeholder="コメント内容"></textarea>
        </div>
        <button type="submit">書き込む</button>
    </form>

    <footer>
        <p>2026 シンプル掲示板</p>
    </footer>
</body>

</html>