<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple BBS</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>シンプルな掲示板</h1>

    <!-- ここに投稿を表示する-->
    {{range .posts}}
    {{.ID}}: 名前: {{.Name}} {{.CreatedAtDisplay}}<br>
    {{ .Body}}<br>
    <hr>
    {{end}}

    <!-- 後でDBつなぐ-->
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="名前（省略可）"><br>
        <input type="text" name="body" placeholder="コメント内容"><br>
        <button type="submit">書き込む</button>
    </form>
</body>

</html>